html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  width: 180px;
  min-height: 100%;
  background-color: #111827;
  color: #9ca3af;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sidebar-top,
.sidebar-center,
.sidebar-bottom {
  width: 80%;
  padding: 10px 0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #4b4b4b;
}

.fa-brands {
  font-size: 24px;
  margin-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.brand {
  font-weight: bold;
  cursor: pointer;
}

.sidebar-bottom {
  border: none;
  justify-content: center;
}

.list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.list-item {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.list-item-icon:hover,
.list-item-icon.active {
  background-color: #374151;
  color: white;
}

.dark {
  background-color: #111827;
}
.night {
  background-color: #312e81;
}
.light {
  background-color: #f3f4f6;
}

.color-box {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 50px;
  }
  .brand,
  .list-item-text {
    display: none;
  }
  .sidebar-bottom {
    flex-direction: column;
  }
}

.sidebar.night {
  background-color: #312e81;
  color: #b4bbc7;
}
.list-item-icon.active.night {
  background-color: #4338ca;
}
.sidebar.light {
  background-color: #f3f4f6;
  color: #111827;
}

.list-item-icon.active.light {
  background-color: #d1d5db;
  color: #111827;
}
